.bgc-red {
  border-color: rgb(218, 65, 18);
  border-style: solid;
  border-width: 1px;
  color: rgb(218, 65, 18);
}

.bgc-green {
  border-color: rgb(45, 136, 45);
  border-style: solid;
  border-width: 1px;
  color: rgb(45, 136, 45);
}

.bgc-yellow {
  border-color: rgb(255, 184, 52);
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 184, 52);
}

.f-w-w {
  flex-wrap: wrap;
}

.f-l-300 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.f-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.f-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.f-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.f-upper {
  text-transform: uppercase;
}

.f-sm {
  font-size: 1rem !important;
}

.tt-c {
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
}
