.tt-c {
  text-transform: capitalize;
}

.bgc-red {
  border-color: rgb(218, 65, 18);
  border-style: solid;
  border-width: 1px;
  color: rgb(218, 65, 18);
}

.bgc-green {
  border-color: rgb(45, 136, 45);
  border-style: solid;
  border-width: 1px;
  color: rgb(45, 136, 45);
}

.bgc-yellow {
  border-color: rgb(255, 184, 52);
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 184, 52);
}

.f-w-w {
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
}
